* {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 800px;
    height: 600px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
